
.content {
  height: 565px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 152px 0px 152px;
}

.container {
  display: flex;
  height: 100%;
}

.imageContainer {
  width: 50%;
  position: relative;
  padding-top: 60px;
  
}

.leftarrow {
  position: absolute;
  left: 0;
  top: 40%;
  width: 53px;
}
.blank {
  position: absolute;
  width: 362px;
  background-color: #ffc567;
  height: 111px;
  border-radius: 10px;
  bottom: 128px;
  left: 110px;
  z-index: 1;
}

.testimonialImage {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
  padding-left: 50px;
}

.rightarrow {
  width: 53px;
  position: absolute;
  right: 0px;
  transform: rotate(180deg);
}

.quotes {
  background-color: black;
  width: 30px;
  padding: 15px 20px 20px 10px;
  border-radius: 0 0 100% 0;
  border: 0px;
  margin-bottom: 20px;
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px; /* Added padding for spacing */
  position: relative;
}

.stars {
  display: flex;
  justify-content: flex-start;
}

.goldStar {
  color: #ffd700; /* Gold color */
  margin-right: 5px;
  width: 27.09px;
  height: 25.8px;
}

.quote {
  font-size: 18px;
  color: #000;
  margin-top: 20px;
  margin-left: 0px;
  color: #091e29;
  width: 80%;
  font-family: Satoshi;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.author {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  color: #091e29;
  margin-top: 0px;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.author > span {
  color: #091e29;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.circles {
  display: flex;
  justify-content: flex-start;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #ff6f00; /* Orange color */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}
