/* treatment.module.css */
.content {
    height: 600px;
    padding: 0px 153px ;
  
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
   
  }
  
  .textSection {
    text-align: start;
  }
  
  .heading {
    color: #000;
    font-family: 'Satoshi', sans-serif;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .description {
    width: 900px;
    color: #302e2e;
    font-family: 'Satoshi', sans-serif;
    font-size: 20px;
    font-weight: 500;
    
  }
  
  .treatments {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .treatmentItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .treatmentImage {
   width: 300px; 
    max-height: 200px; 
    object-fit: cover; 
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  
  .banner {
    position: absolute;
    background-color: teal;
    color: white;
    padding: 20px 10px;
    width: 192px;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    bottom: -40px;
    font-family: 'Satoshi', sans-serif;
    font-size: 24px;
    font-weight: 700;
  }
  
  .banner > span {
    display: block; 
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  